@page "/grid"
@inject HttpClient Http

<div>
    <Grid data="pets" title="A Bunch of Pets" /> 
</div>
@code {
    public string Title = "A Bunch of Pets";

    private string FilterValue { get; set; } = "";

    private string SortedBy = "";

    private string NameSort = "none";

    private string BreedSort = "none";

    private string AgeSort = "none";

    Pet[] pets;

    Pet[] visiblePets;

    Pet selectedRow = new Pet();

    string DetailOpen = "hidden";

    private void OpenPopup( Pet pet ) 
    {
        DetailOpen = (DetailOpen == "hidden") ? "" : "hidden";
        selectedRow = pet;
    }

    private void SortTable (String column)
    {
        if (column == SortedBy) {
            IEnumerable<Pet> sortQuery =
                from pet in pets
                orderby pet.GetType().GetProperty(column).GetValue(pet, null) descending
                select pet;

                visiblePets = sortQuery.ToArray();

                if (column == "Name") {
                    NameSort = "desc";
                    BreedSort = "none";
                    AgeSort = "none";
                }


                if (column == "Breed") {
                    BreedSort = "desc";
                    NameSort = "none";
                    AgeSort = "none";
                }


                if (column == "Age") {
                    AgeSort = "desc";
                    NameSort = "none";
                    BreedSort = "none";
                }

                SortedBy = column + "-desc";

                
        }
        else {
            IEnumerable<Pet> sortQuery =
                from pet in pets
                orderby pet.GetType().GetProperty(column).GetValue(pet, null)
                select pet;

                visiblePets = sortQuery.ToArray();
                
                if (column == "Name") {
                    NameSort = "asc";
                    BreedSort = "none";
                    AgeSort = "none";
                }


                if (column == "Breed") {
                    BreedSort = "asc";
                    NameSort = "none";
                    AgeSort = "none";
                }


                if (column == "Age") {
                    AgeSort = "asc";
                    NameSort = "none";
                    BreedSort = "none";
                }

                SortedBy = column;
        }
    }

    private void ClosePopup() 
    {
        DetailOpen = "hidden";    
    }

    protected override async Task OnInitializedAsync()
    {
        visiblePets = pets = await Http.GetJsonAsync<Pet[]>("http://localhost:3000");
    }

    public void FilterPets() 
    {
        IEnumerable<Pet> petQuery =
            from pet in pets
            where pet.Name.Contains(FilterValue) || pet.Breed.Contains(FilterValue)|| pet.Age.ToString().Contains(FilterValue)
            select pet;

        visiblePets = petQuery.ToArray();

    }

    public class Pet 
    {
        public string Name { get; set; }
        public string Breed { get; set; }
        public int Age { get; set; }
    }
}