@page "/grid"
@inject HttpClient Http

<h1>BlazorGrid</h1>
<div>
    @if (pets == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="bz-grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pet in pets) {
                    <tr>
                        <td>@pet.Name</td>
                        <td>@pet.Breed</td>
                        <td>@pet.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {

    Pet[] pets;

    protected override async Task OnInitializedAsync()
    {
        pets = await Http.GetJsonAsync<Pet[]>("http://localhost:3000");
    }

    public class Pet 
    {
        public string Name { get; set; }
        public string Breed { get; set; }
        public int Age { get; set; }
    }
}